    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="dcterms.title" content=""/>
    <meta name="dcterms.description" content=""/>
    <meta name="dcterms.creator" content=""/>
    <meta name="dcterms.language" title="ISO639-2/T" content="eng"/>
    <meta name="dcterms.subject" title="gccore" content=""/>

    <meta name="dcterms.issued" title="W3CDTF" content="2019-01-31"/>
    <meta name="dcterms.modified" title="W3CDTF" content="2019-01-31"/>

    <meta name="dcterms.spatial" content="Canada"/>