<app-header></app-header>

<main role="main" property="mainContentOfPage" class="container">

  <div class="row mrgn-tp-lg" *ngIf="!inited">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <ng-container *ngIf="inited">
    <router-outlet id="primaryOutlet"></router-outlet>
  </ng-container>

  <div class="pagedetails">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <a href="https://www.canada.ca/en/report-problem.html" class="btn btn-default btn-block">
          <span class="fa fa-caret-right"></span> {{ 'gcweb.report-link' | translate}}
        </a>
      </div>
    </div>
    <div class="row mrgn-tp-sm">
      <dl id="wb-dtmd" class="col-sm-12">
        <dt>{{'gcweb.date-modified' | translate}}</dt>
        <dd><time property="dateModified">2018-11-11</time></dd>
      </dl>
    </div>
  </div>
</main>

<app-footer></app-footer>
